<section class="jumbotron text-center">
    <div class="container">
        <h1>Listen To Your Favorite Albums</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-album">
            Add Album
        </button>
    </div>
</section>
